@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9595731160145415"
            crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Customs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/css/reset.css")"/>
    
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo"><a href="/Home"><img src=@Url.Content("~/source/logo/logo-min.svg") alt="Logo"/></a></div>
                <nav class="header-nav">
                    <ul>
                        <li><a href="#">Прем'єри</a></li>
                        <li><a href="/Films">Фільми</a></li>
                        <li><a href="#">Серіали</a></li>
                        <li><a href="#">Підбірки</a></li>
                        <li><a href="/Friends" id="friends">Друзі</a></li>

                    </ul> 
                </nav>
                <div class="header-search">
                    <form method="get" action="/Search">
                        <input id="searchInput" minlength="3" name="name" type="text"/>
                        <input id="btn" src=@Url.Content("~/source/search.svg") type="image"/>
                    </form>
                </div>
                <div class="header-login">
                    <partial name="_LoginPartial"/>
                    @*<a>
                        <ul class="navbar-nav">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </a>*@
                </div>
            </div>
           @* <form method="get" action="/Search">
                <input id="searchInput" name="name" type="text"/>
                <input id="btn" type="submit"/>
            </form>*@
        </div>
    </header>
    
<div class="Message" id="Message">
    <div class="Message-icon">
        <i class="fa fa-bell-o"></i>
    </div>
    <div class="Message-body">
        <p>Invite to watch film with your friend</p>
        <button class="Message-button" id="js-showMe">Join</button>
        <button class="Message-button js-messageClose">Decline</button>
    </div>
    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>

        @RenderBody()
   
@*
    <script>
        document.getElementById("btn").addEventListener("click",
            function(e) {
                var name1 = document.getElementById('searchInput').value;
                console.log("Aa");
                @Url.Action("Search", "Home", new {name = "qwe", page = 1})
            });
    </script>*@
    
<script type="text/javascript" src="~/lib/signalr.js"></script>
<script type="text/javascript" src="~/lib/signalr.min.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="Notification.js"></script>

<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Customs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
