@model poruchTv.Models.PaginatedList<poruchTv.Models.Video.ContentInfo>
@{
    ViewData["Title"] = "Search";
}
<h4 style="width: 100%; text-align: center; padding-top: 20px;">Результати пошуку "@ViewData["name"]"</h4>
<div class="results" style="padding-left: 5%; padding-right: 5%;">
    
    @foreach (var obj in Model)
    {
        <a href="/Movie?id=@obj.Id" class="result" onmouseover="this.style.textDecoration = 'none';">
            <div class="poster">
                <img class="poster" src="@obj.ImageUrl"/>
            </div>
            <h3>@obj.OriginalTitle</h3>
            <h4>@obj.Title</h4>
        </a>
    }
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="nextprevbuttons">
    <a asp-action="Index"
       asp-route-name="@ViewData["name"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn @prevDisabled">
        Попередня
    </a>
    <p class="pagenum btn">
        @(Model.PageIndex)
    </p>
    <a asp-action="Index"
       asp-route-name="@ViewData["name"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn @nextDisabled">
        Наступна
    </a>
</div>

<script src="Notification.js"></script>