@model poruchTv.Models.PaginatedList<poruchTv.Models.Video.Content>
@{
    ViewData["Title"] = "Search";
}

<div class="content">
    @foreach (var obj in Model)
    {
        <a href="/Movie?id=@obj.id">
            <div class="poster">
                <img class="poster" src="@obj.imgUrl"/>
            </div>
            <h3>@obj.orig_title</h3>
            <h4>@obj.ru_title</h4>
        </a>
    }
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-name="@ViewData["name"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-name="@ViewData["name"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>