@model poruchTv.Models.Video.ContentInfo
@{
    ViewData["Title"] = Model.OriginalTitle;
}
<div class="movie-page">
    <div class="movie-page-details row">
        <img src="@Model.ImageUrl" class="poster-max"/>
        <div class="movie-page-information">
            <h2>@Model.Title</h2>
            <p>@Model.ReleaseDate</p>
            <div class="movie-page-information-overview">
                <p>@Model.Overview</p>
            </div>
            <p>Рейтинг: @Model.VoteAverage</p>
        </div>
        <div>
            <h3>Оберіть озвучку:</h3>
            <div class="movie-page-information-item">

                @foreach (var url in ViewBag.Urls)
                {
                    <form asp-action="Create" asp-controller="Movie" class="view-item">
                        <p>@url.Title</p>
                        <input type="hidden" name="urlI" value="@url.Url"/>
                        <input type="submit" value="Переглянути" class="btn go-button"/>
                    </form>
                }
            </div>
        </div>
        
    </div>
    
</div>

<script>
    function send() {
        $('#target').html('sending..');

        $.ajax({
            //url: '/Movie/Create?urlI=Model.orig_title',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#target').html(data.msg);
            }
            
        });
    }
    
</script>

<script src="Notification.js"></script>