@model poruchTv.Models.Video.ContentInfo
@{
    ViewData["Title"] = Model.OriginalTitle;
}
<div class="movie-page container">
    <div class="movie-page-details row">
        <img class="poster-max" src="@Model.ImageUrl"/>
        <div style="width: 80%;">
            <h2>@Model.Title</h2>
            <p>@Model.ReleaseDate</p>
            <p>@Model.Overview</p>
            <p>@Model.VoteAverage</p>
            @foreach (var url in ViewBag.Urls)
            {
                <form asp-action="Create" asp-controller="Movie">
                    <p>@url.Title</p>
                    <input type="hidden" name="urlI" value="@url.Url"/>
                    <input type="submit" value="Переглянути"/>
                </form>
            }
            <form method="post" action="/Movie/Create?urlI=@*@Model.iframe_src*@">
                <input type="hidden" value="@Model.ImageUrl" name="PhoneId" />
                <input #="target" type="submit" class="btn go-button" value="Go"/>
            </form>
        </div>
    </div>
    
</div>

<script>
    function send() {
        $('#target').html('sending..');

        $.ajax({
            //url: '/Movie/Create?urlI=Model.orig_title',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#target').html(data.msg);
            }
            
        });
    }
    
</script>

<script src="Notification.js"></script>