@model poruchTv.Models.Video.Content
@{
    ViewData["Title"] = Model.orig_title;
}
<div class="movie-page">
    <div class="movie-page-details">
        <img class="poster-max" src="@Model.imgUrl"/>
        <div>
            <h2>@Model.ru_title</h2>
            <p>@Model.year</p>
            <p>@Model.overview</p>
            <p>@Model.vote_average</p>
            <form method="post" action="/Movie/Create?urlI=@Model.iframe_src">
                <input type="hidden" value="@Model.imgUrl" name="PhoneId" />
                <input #="target" type="submit" class="btn go-button" value="Go"/>
            </form>
        </div>
    </div>
    
</div>

<script>
    function send() {
      

        $('#target').html('sending..');

        $.ajax({
            url: '/Movie/Create?urlI=@Model.orig_title',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#target').html(data.msg);
            }
            
        });
    }
    
</script>